@{
    ViewBag.Title = "Future";
}

<h2>About Muvykive</h2>

<fieldset class="content ui-corner-all">
    
    <h2>Inspiration</h2>
    <p>
        Muvykive [moo-vee-kahyv] is a project I have been planning to do for over a year now. My wife and I love movies and we have an extensive movie collection. 
        While managing these movies can be a task sometimes, the goal of Muvykive is to make some, if not all, of these tasks easier. The current state of Muvykive is
        just a starting point and I plan to go much further with it. Listed below are some of the features that I plan to add in the near future.
    </p>
    <p>
        I planed to keep Muvykive open source and it will be accessible on <a href="http://github.com" target="_new">github.com</a> after the first release.
    </p>

    <h2>Special Thanks to Proace</h2>
    <p>
        I really enjoyed meeting everyone my first visit and look forward to are next meeting. I hope you like the project. If you would like 
        to see more, please let me know and I will be happy spend more time on the project.
    </p>

    <br />

    <div class="inner_panel ui-corner-all">
        <h2>Future features</h2>
        <ul class="feature_list">
            <li>
                <span>User Login</span>
                <div>
                    This will allow user to have private information on their movie collections.
                </div>
            </li>
            <li>
                <span>Movie Collections</span>
                <div>
                    Users will be about to create multiple collections and share them with other users.
                </div>
            </li>
            <li>
                <span>Movie Rating</span>
                <div>
                    User will be able to rate movies for sorting and search abilities.
                </div>
            </li>
            <li>
                <span>Movie Picker</span>
                <div>
                    Improve movie picker features.
                </div>
            </li>
            <li>
                <span>Movie Details Auto Populate</span>
                <div>
                    I wanted to implement this feature at first but I am waiting for approval with TMDb for an API Key. This feature will populate most of the information for you when adding a new movie.
                </div>
            </li>
            <li>
                <span>Interface with social networking sites</span>
                <div>
                    Ability to share your thoughts on a movie and post them on (Facebook, Twitter, etc.) using there API's.
                </div>
            </li>

            <li>
                <span>Wish List</span>
                <div>
                    This is your typical wish list but will not reflect on your collections.
                </div>
            </li>

            <li>
                <span>Web Design</span>
                <div>
                    Initial design is very simple. I plan on keeping this main design but want to get a little more details in areas including graphical logo, 
                    mouse hover effects, JavaScript animations. Also plan to minify CSS/JavaScript and move images to sprites for optimization. 
                    I also might move jQuery to a public content delivery network (CDN).
                </div>
            </li>
        </ul>
    </div>
</fieldset>
